 body {
  background-color: #f3f3f3;
  font-family: verdana;
 }

 .container {
  width: 98%;
  margin: 0 auto;
 }

 header {
  background-color: #3498db;
  color: white;
  height: 10rem;
  border-radius: 5px;
 }


 header h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
 }

 .navigation {
  margin: 10px;
  text-align: center;

 }

 nav {
  background: #3498db;
  height: 5rem;
  color: white;
  border-radius: 5px;
 }

 nav li {
  display: inline;
  padding: 0 5rem 0 5rem;
  font-size: 2rem;

 }

 nav li a {
  text-decoration: none;
  color: white;
 }

 .banner {
  text-align: center
 }

 .banner img {
  display: inline;
  width: 90%;
  height: 40rem;
  border-radius: 5px;
 }

 .desc {
  background-color: #3498db;
  border-radius: 5px;
  margin: 10px;
 }

 .about {
  padding: 10px;
 }